<html>  
    <head>  
    
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    
		    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		     <title>Lightning Network: cheap, fast, private transactions available to anyone around the world</title>  
		
		    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
		    <link rel="shortcut icon" href="/favicon.ico">
		    <meta name="apple-mobile-web-app-capable" content="yes">
		    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
		  	    
    </head> 
    
     
    <body>  
    
  <div class="page-group">
      <!-- 你的html代码 -->
      <div class="page">
      
      
		  <header class="bar bar-nav">	
		        <h1 class='title'>账号名:${uname}</h1>	    
			    <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
			      关于
			    </a>		    
		  </header>    
          <nav class="bar bar-tab">
              <a class="tab-item external" href="/h5/index5">
                  <span class="icon icon-me"></span>
                  <span class="tab-label">钱包</span>
              </a>
              
              
              <a class="tab-item external" href="/h5/liststore">
                  <span class="icon icon-gift"></span>
                  <span class="tab-label">商店</span>
              </a>
                                     
              <a class="tab-item external" href="/h5/myorder">
                  <span class="icon icon-computer"></span>
                  <span class="tab-label">交易</span>
              </a>
              
          </nav>
          <div class="content">
				$screen_content  			
          </div>
      </div>
  </div>    
  
  
<div class="popup popup-about">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-right close-popup">
      关闭
    </a>
    <h1 class="title">关于作者</h1>
  </header>
  <div class="content">
    <div class="content-inner">
      <div class="content-block">
        <p>北京交通大学计算机硕士。</p>
        <p>先后就职于阿里、Qunar、美团。美团架构师、Qunar技术专家，早期技术核心。</p>
        <p>负责多个上亿系统核心底层研发，资深底层区块链研究。</p>
        <p>连续创业：约运动CEO，耀莱在线技术总监。</p>
        <p>邮箱：laziobird@gmail.com</p>
        <p>wechat：nizhanali</p>
        <p><a class="button close-popup">确定</a></p>
      </div>
    </div>
  </div>
</div>
  
  
  
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>	  
  
  
	<script>
		$.init();
    </script>

    
    </body>  
</html>  